@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Hepta Slab';
	src: url('/assets/fonts/Hepta_Slab/HeptaSlab-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Hanken Grotesk';
	src: url('/assets/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}

html {
	font-family: 'Hanken Grotesk', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	scroll-behavior: smooth;
}

h1 {
	font-family: 'Hepta Slab', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
		'Courier New', monospace;
}

.badge {
	height: auto;
	text-align: center;
}

/* Copyright Caption for Photoswipe */
.pswp__custom-caption {
	@apply absolute px-2 py-1 bg-neutral text-secondary rounded-xl bottom-6;
	left: 50%;
	transform: translateX(-50%);
	max-width: calc(100% - 16px);
}

.hidden-caption-content {
	display: none;
}

/* Horizontal-Scroller */
.songs {
	width: fit-content;
	max-width: 100%;
	--gap: 1rem;
	padding-right: var(--gap);
	display: grid;
	gap: var(--gap);
	scroll-padding: calc(var(--gap) / 2);
	grid-auto-flow: column;
	grid-auto-columns: calc(300px - (var(--gap) / 2));
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.song {
	scroll-snap-align: start;
	width: 300px;
}

/* Custom Animations */
.shaking:hover {
	animation: shaking 0.25s infinite;
}

@keyframes shaking {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(5deg);
	}

	50% {
		transform: rotate(0eg);
	}

	75% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}

/* SVG-Animations */
@keyframes wobble {
	0%,
	100% {
		transform: translate(0, 0) rotate(0);
	}

	10% {
		transform: translate(8px, -8px) rotate(-8deg);
	}

	20% {
		transform: translate(-8px, 8px) rotate(8deg);
	}

	30% {
		transform: translate(6px, -6px) rotate(-6deg);
	}

	40% {
		transform: translate(-6px, 6px) rotate(6deg);
	}

	50% {
		transform: translate(4px, -4px) rotate(-4deg);
	}

	60% {
		transform: translate(-4px, 4px) rotate(4deg);
	}

	70% {
		transform: translate(2px, -2px) rotate(-2deg);
	}

	80% {
		transform: translate(-2px, 2px) rotate(2deg);
	}

	90% {
		transform: translate(1px, -1px) rotate(-1deg);
	}
}

.wobble {
	animation: wobble 10s infinite;
}
